<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techtrio-Virtual Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename ='styles.css')}}">
</head>
<body><form action="func" method="POST">
   <div class="stars">
  <button type="submit">
            <div class="parrot">
            <div class="big"></div>
            <div class="middle"></div>
            <div class="small"></div>	
            <div class="text-box">
              Click and Give Command...
              <span></span>
            </div>				
          </div>
  </button>
  <footer>
    Developed with &#10084; by <a href="#">Techtrio</a>.
  </footer>
</div>
</form>
</body>
</html>
