<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card hover</title>
    <link rel='stylesheet' href="{{ url_for('static' , filename ='team.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="try">
            <div class="card">
                <img src="{{ url_for('static' , filename ='images/ss.jpg')}}">
                <div class="text">
                    <h4>Sanskar Srivastava</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-skype"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="try">
        <div class="card">
            <img src="{{ url_for('static' , filename ='images/ss.jpg')}}">
            <div class="text">
                <h4>Sanskar Srivastava</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-skype"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="try">
        <div class="card">
            <img src="{{ url_for('static' , filename ='images/ss.jpg')}}">
            <div class="text">
                <h4>Sanskar Srivastava</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-skype"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
            </div>
        </div>
    </div>
    </div>
</body>
</html>